<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/ano_inbox.css">
  </head>
  <body>
    <h1>{{ title }}</h1>
    {% include 'recipientlist.html' %}
    <form autocomplete="off" enctype="multipart/form-data" method="POST" action="/submit">
      <textarea name="text" rows="30" cols="130" ></textarea>
      <div class="inform">
        <input type="submit" name="trigger" value="Send" />
      </div>
    </form>
  </body>
</html>
