<html>
  <head>
    <title>Sending your text anonymously</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/ano_inbox.css">
  </head>
  <body>
    <h1>Sending your data</h1>
    
    {% include 'recipientlist.html' %}

    <h2>Your text we are about to send</h2>
    <pre class="text">{{ text }}</pre>

    <h3>Here is a log of the technical stuff as we are doing it.</h3>
    <pre class="log">{% for partial_output in action %}{{ partial_output | safe }}{% endfor %}</pre>
  </body>
</html>
